.gomb {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;      
    text-decoration: none;    
    border-radius: 5px;   
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 5px;
}

.gomb:hover {
    background-color: #45a049;
}

.gomb2{

    display: inline-block;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;      
    text-decoration: none;    
    border-radius: 5px;   
    font-weight: bold;
    transition: background-color 0.3s;
    margin: 5px;
}